@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
    --font-atkinson: "Atkinson Hyperlegible", sans-serif;
    --color-primary-50: #e6f3ff;
    --color-primary-500: #4a90e2;
    --color-primary-600: #357abd;
    --color-primary-700: #2a5f94;

    --color-secondary-50: #f0fff0;
    --color-secondary-500: #7ed321;
    --color-secondary-600: #65a91a;
    --color-secondary-700: #4d7f13;

    --color-accent-50: #ffeef8;
    --color-accent-500: #e91e63;
    --color-accent-600: #c2185b;
    --color-accent-700: #9c1447;
}